.select-container {
  position: relative;
  width: 100%;
}

.select-field {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #fff;
  border-radius: 0.25rem;
  appearance: none;
  background-color: #fff;
  color: #868686;
  font-size: 1rem;
}

.select-field:focus {
  outline: none;
  border-color: #fff;
}

.chevron-icon {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none; /* Allows clicks to pass through to the select */
  color: #545454;
}
