.meta-container {
  position: relative;
  width: 100%;
  height: 46px;
  box-sizing: border-box;
}

.meta-input {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #fff;
  border-radius: 7px;
  transition: all 0.2s;
  font-size: 1rem;
}

.meta-input:focus {
  outline: none;
  border-color: #fff;
}
